<div class="d-flex justify-center mt-40">
  <div class="signin">
    <p-card header="Login" subheader="">

      <div class="flex flex-column">
        <div>
          <div>E-mail</div>
          <input id="email" type="email" name="email"  pInputText placeholder="Username" #email>
        </div>
        <div class="mt-10">
          <div>Password</div>
          <input id="password" name="password" type="password" pInputText placeholder="Password" #password>
        </div>
      </div>


      <ng-template pTemplate="footer">
        <div class="d-flex align-items-center justify-between">
          <button pButton label="Login" (click)="logIn(email.value, password.value)" ></button>
          <button pButton label="Sign Up" routerLink="/signup" ></button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>

<!--<section class="bg-gray-50 dark:bg-gray-900">-->

<!--  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">-->

<!--    <div-->
<!--      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">-->
<!--      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">-->
<!--        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">-->
<!--          Sign in to your account-->
<!--        </h1>-->
<!--        <div class="space-y-4 md:space-y-6">-->
<!--          <div>-->
<!--            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>-->
<!--            <input type="email" name="email" id="email" #email-->
<!--                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"-->
<!--                   placeholder="example@email.com" required>-->
<!--          </div>-->
<!--          <div>-->
<!--            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>-->
<!--            <input type="password" name="password" id="password" placeholder="••••••••" #password-->
<!--                   class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"-->
<!--                   required>-->
<!--          </div>-->
<!--          <div class="p-inputgroup">-->
<!--            <span class="p-inputgroup-addon">-->
<!--                <i class="pi pi-user"></i>-->
<!--            </span>-->
<!--            <input pInputText placeholder="Username" />-->
<!--          </div>-->

<!--          <button type="click" (click)="logIn(email.value, password.value)"-->
<!--                  class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign-->
<!--            in</button>-->


<!--          <p class="text-sm font-light text-gray-500 dark:text-gray-400">-->
<!--            Don’t have an account yet?-->
<!--            <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500"-->
<!--               routerLink="/signup">Sign up</a>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
